@page
@model BlockchainQuiz.Pages.myPages.EditModel
@{
}

<br />
<h2 class="text-center text-dark">Edit Quiz Question</h2>

<section id="editPage">
	<form method="post">
		<input type="hidden" name="id" value="@Model.getOption().getId()" />
		<div class="grid-container">
			<div class="question">
				<input type="text" class="form-control" name="question" value="@Model.getOption().getQn()" required />
			</div>
			<div>
				<input type="text" class="form-control" name="option1" value="@Model.getOption().getA()" required />
			</div>
			<div>
				<input type="text" class="form-control" name="option2" value="@Model.getOption().getB()" required />
			</div>
			<div>
				<input type="text" class="form-control" name="option3" value="@Model.getOption().getC()" required />
			</div>
			<div>
				<input type="text" class="form-control" name="option4" value="@Model.getOption().getD()" required />
			</div>

			<div class="select">
				<label for="correct">Set the correct option</label>
				<select id="correct" name="correct">
					<option value="@Model.getOption().getCorrect()" selected>@Model.getOption().getCorrect()</option>
					<option value="option1">Option one</option>
					<option value="option2">Option two</option>
					<option value="option3">Option three</option>
					<option value="option4">Option four</option>
				</select>
			</div>
		</div>

		<div class="text-center p-6">
			<button type="submit" class="btn btn-primary m-2">Edit</button>
			<a class="btn btn-outline-danger m-2" href="/myPages/AdminView">Quit</a>
		</div>


		@if (Model.getFeed().getErrorMessage().Length > 0)
		{
			<div class="row mb-3">
				<div class="offset-3 col-sm-6">
					<div class="alert alert-warning alert-dismissible fade show text-danger text-center" role="alert">
						<strong>@Model.getFeed().getErrorMessage()</strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		}

		@if (Model.getFeed().getSuccessMessage().Length > 0)
		{
			<div class="row mb-3">
				<div class="offset-3 col-sm-6">
					<div class="alert alert-success alert-dismissible fade show text-success text-center" role="alert">
						<strong>@Model.getFeed().getSuccessMessage()</strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		}

	</form>
</section>